@import url("./variables.css");

.sidebar {
  background-color: var(--primary-background);
  min-height: 100vh;
  color: white;
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}

.sidebar h2 {
  margin-bottom: 20px;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 20px;
  transition: background 0.3s;
}

.sidebar a:hover {
  background-color: #354f52;
}

.sidebar .button-cont a {
  color: white;
  border-radius: unset;
  padding: 1rem;
  width: 100%;
  font-weight: 550;
  letter-spacing: 1px;
  flex-direction: row;
  cursor: pointer;
  display: flex;
  font-size: 0.9rem;
  gap: 1px;
  align-items: center;
}


.sidebar .button-cont a:hover {
  background: rgba(10, 10, 10, 0.2);
}

.sidebar .button-cont a i {
  background: transparent;
  color: white;
}


.sidebar .bot-sec {
  padding: 1rem;
}

.sidebar p {
  margin-bottom: 0;
}



.sidebar .details-cont {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
  color: rgb(210, 210, 210);
}

.sidebar .jobs-desc-cont {
  line-height: 1.5rem;
  padding: 1rem;
  border-top: 1px solid rgb(129, 129, 129);
  border-bottom: 1px solid rgb(129, 129, 129);
  font-size: 0.8rem;
  color: rgb(210, 210, 210);
}

.sidebar .button-cont button {
  color: white;
  border-radius: unset;
  padding: 1.5rem 1rem;
  width: 100%;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: left;
  justify-content: flex-start;
  display: block;
}

.sidebar .button-cont button:hover,
.sidebar .button-cont a.active {
  background: rgba(10, 10, 10, 0.2);
}

.sidebar .button-cont button i {
  background: transparent;
  color: white;
}

.sidebar .bot-sec {
  padding: 1rem;
}

.sidebar .details-cont {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
  color: rgb(210, 210, 210);
}

.sidebar .jobs-desc-cont {
  line-height: 1.5rem;
  padding: 1rem;
  border-top: 1px solid rgb(129, 129, 129);
  border-bottom: 1px solid rgb(129, 129, 129);
  font-size: 0.8rem;
  color: rgb(210, 210, 210);
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    width: 75%;
  }

  .sidebar.show {
    transform: translateX(0);
  }
}
