<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALIS - User Management</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/assets/styles/components/sidebar.css" />
    <link rel="stylesheet" href="../static/assets/styles/components/navbar.css" />
    <link
      rel="stylesheet"
      href="../static/assets/styles/components/notification.css"
    />
    <link rel="stylesheet" href="../static/assets/styles/layouts/admin.css" />
  </head>
  <body>
     
    <div class="sidebar" id="sidebar">
      <h2>ALIS</h2>

      <div class="button-cont">
        <a id="dashboard_nav" href="{% url 'admins' %}" class="">
          <i class="fa-solid fa-table-columns me-1"></i> Dashboard
        </a>
      </div>
      <div class="button-cont">
        <a id="requests_nav" href="{% url 'admin_manage_users' %}" class="active">
          <i class="fa-solid fa-users me-1"></i> User Management
        </a>
      </div>

      <div class="button-cont">
        <a href="{% url 'admin_manage_users' %}">
          <i class="fa-solid fa-person-walking-arrow-right"></i> Leave Types
        </a>
      </div>

      <div class="button-cont">
        <a href="{% url 'logout' %}" class="">
          <i class="fa-solid fa-right-from-bracket me-1"></i>
          Log Out
        </a>
      </div>
    </div>

    <div class="main-content">
      <div class="main-header">
        <div class="d-flex align-items-center">
          <button class="mobile-toggle me-3" onclick="toggleSidebar()">
            <i class="fas fa-bars"></i>
          </button>
          <h1 class="nav-title pending-request-h1">Employee Management</h1>
        </div>
        <div class="button-main-cont">
          
          <div class="button-main-cont">
            <div class="main-img-cont">
              <div class="img-cont">
                <img
                  src="../media/{{user.picture}}"
                  alt=""
                  id="profilePreview"
                />
              </div>
            </div>
            <div class="name-cont">
              <p class="name">
                {{user.firstname}} {{user.middlename}} {{user.lastname}}
              </p>
              <p class="title text-muted">ADMIN</p>
            </div>
          </div>
        </div>
      </div>

      <div class="user-management-card">
        <div class="user-list-header">
          <div class="user-list-title">Add User</div>

          <div class="search-filters">
            <a class="add-user-btn" style="text-decoration: none;" href="{% url 'admin_manage_users' %}">
              <i class="fa-solid fa-angle-left"></i> Back
            </a>
          </div>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="form-section mb-4">
          <input type="text" id="post_type" name="post_type" value="" style="display: none;">
          <input type="text" id="user_id" name="post_type" value="" style="display: none;">
          <div class="section-header">
            <h3 class="section-title">Personal Information</h3>
          </div>
          <div class="section-content">
            <div class="row">
              <!-- <div class="col-md-3 mb-3">
                <label class="form-label">ID</label>
                <input type="text" class="form-control" name="employee_id" value="" disabled/>
              </div> -->
              <div class="col-md-3 mb-3">
                <label class="form-label">Username</label>
                
               {% if user %}
                 <input

                 name="username"
                  type="text"
                  class="form-control"
                  value="{{user.username}}"
                />
                {% else %}
                <input
                name="username"
                  type="text"
                  class="form-control"
                  value=""
                />
               {% endif %}
                
              </div>
              <div class="col-md-3 mb-3">
                <label class="form-label">Password</label>
               
               {% if user %}
                 <input
                 name="password"
                  type="password"
                  class="form-control"
                  value="{{user.password}}"
                />
               {% else %}
                 <input
                  type="password"
                  class="form-control"
                  
                />
               {% endif %}
                
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-3 mb-3">
                <label class="form-label">Last Name</label>
                
                {% if user %}
                  <input type="text" class="form-control" name="lastname" value="{{user.lastname}}" />
                {% else %}
                  <input type="text" name="lastname" class="form-control" value="" />
                {% endif %}
                  
              </div>
              <div class="col-md-3 mb-3">
                <label class="form-label">First Name</label>
                
                {% if user %}
                  <input type="text" class="form-control" name="firstname" value="{{user.firstname}}" />
                {% else %}
                  <input type="text" class="form-control" value="" name="firstname" />
                {% endif %}
                  
              </div>
              <div class="col-md-3 mb-3">
                <label class="form-label">Middle Name</label>
                
                {% if user %}
                  <input type="text" class="form-control" name="middlename" value="{{user.middlename}}" />
                {% else %}
                  <input type="text" class="form-control" name="middlename" value="Pimentel" />
                {% endif %}
                  
              </div>
              <div class="col-md-3 mb-3">
                <label class="form-label">Suffix</label>
                
                {% if user %}
                  <input type="text" class="form-control" name="suffix" value="{{user.suffix}}" />
                {% else %}
                  <input type="text" class="form-control" name="suffix" value="" />
                {% endif %}
                  
              </div>
            </div>

            <div class="row" style="margin-bottom: 30px; position: relative;">
              <div class="col-md-3 mb-3">
                <label class="form-label">Email</label>
               
               {% if user %}
                 <input
                 name="email"
                  type="email"
                  class="form-control"
                  value="{{user.email}}"
                />
               {% else %}
                 <input
                 name="email"
                  type="email"
                  class="form-control"
                  value=""
                />
               {% endif %}
                
                <div class="form-note">
                  Note: Username and password of this user will be sent to the
                  email provided
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label class="form-label">Birthday</label>
               
               {% if user %}
                 <input
                 name="birthday"
                  type="date"
                  class="form-control"
                  value="{{user.birthday}}"
                />
               {% else %}
                 <input
                 name="birthday"
                  type="date"
                  class="form-control"
                  placeholder="dd/mm/yyyy"
                />
               {% endif %}
                
              </div>
              <div class="col-md-3 mb-3">
                <label class="form-label">Phone number</label>
                
                {% if user %}
                  <input type="tel" class="form-control" name="phone_number" value="{{user.phone_number}}" />
                {% else %}
                  <input type="tel" class="form-control" value="09123456789" name="phone_number" />
                {% endif %}
                  
              </div>
              
             
                <div class="col-md-3 mb-3" style="display: {% if user %}'none;' {% else %} flex {% endif %}!important;">
                <label class="form-label">Valid picture</label>
                <div class="file-input-container">
                  <input type="file" id="fileInput" name="picture" style="display: none" />
                  <label for="fileInput" style="cursor: pointer; margin: 0">
                    Choose File
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section-header">
          <h3 class="section-title">Role & Department</h3>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-4 mb-3">
              <label class="form-label">Office</label>
              <select  class="form-control" name="department">
                <option>--Please Select--</option>
                <option {% if user.department == "MBO" %} selected {% endif %}>MBO</option>
                <option {% if user.department == "MACCO" %} selected {% endif %}>MACCO</option>
                <option {% if user.department == "MPDO" %} selected {% endif %}>MPDO</option>
                <option {% if user.department == "MEO" %} selected {% endif %}>MEO</option>
                <option {% if user.department == "SB SEC" %} selected {% endif %}>SB SEC</option>
                <option {% if user.department == "OM" %} selected {% endif %}>OM</option>
                <option {% if user.department == "MADO" %} selected {% endif %}>MADO</option>
                <option {% if user.department == "SB" %} selected {% endif %}>SB</option>
                <option {% if user.department == "MO" %} selected {% endif %}>MO</option>
                <option {% if user.department == "MASSO" %} selected {% endif %}>MASSO</option>
                <option {% if user.department == "MCR" %} selected {% endif %}>MCR</option>
                <option {% if user.department == "MTO" %} selected {% endif %}>MTO</option>
                <option {% if user.department == "MAO" %} selected {% endif %}>MAO</option>
                <option {% if user.department == "MSWDO" %} selected {% endif %}>MSWDO</option>
              </select>
            </div>
            <div class="col-md-4 mb-3">
              <label class="form-label">Position</label>
              <input type="text" class="form-control" name="job_title" value="">
            </div>
            <div class="col-md-4 mb-3">
              <label class="form-label">Employment</label>
              <select class="form-control" name="employee_type">
                <option disabled>--Please Select--</option>
                <option value="Permanent" {% if user.employee_type == "Permanent" %} selected {% endif %}>Permanent</option>
                <option value="Elective Official" {% if user.employee_type == "Elective Official" %} selected {% endif %}>Elective Official</option>
                <option value="Co-terminous" {% if user.employee_type == "Co-terminous" %} selected {% endif %}>Co-terminous</option>
              </select>
            </div>
            <div class="col-md-4 mb-3">
              <label class="form-label">Section</label>
              <select class="form-control" name="user_type">
                <option disabled selected>--Please Select--</option>
                <option value="NUTRITION">NUTRITION</option>
                <option value="TOURISM">TOURISM</option>
                <option value="PDAO">PDAO</option>
                <option value="LYDC">LYDC</option>
                <option value="LICENSING">LICENSING</option>
                <option value="ABE">ABE</option>
                <option value="MENRO">MENRO</option>
                <option value="GSO">GSO</option>
                <option value="HRMO">HRMO</option>
              </select>
            </div>
            <div class="col-md-4 mb-3">
              <label class="form-label">User Role</label>
              <select class="form-control" name="user_type">
                <option disabled selected>--Please Select--</option>
                <option value="hr" {% if user.user_type == "hr" %} selected {% endif %}>HR</option>
                <option value="admin" {% if user.user_type == "admin" %} selected {% endif %}>Admin</option>
                <option value="employee" {% if user.user_type == "employee" %} selected {% endif %}>Employee</option>
              </select>
            </div>
          </div>

          <button type="submit" class="save-btn">
            Save
            <div class="loading-content" style="display: none">
              <div class="loading-spinner"></div>
              <div class="loading-text">Saving...</div>
            </div>
            <div class="success-content" style="display: none">
              <div class="success-checkmark"></div>
              <div class="success-text">Saved!</div>
            </div>
          </button>
        </div>
        </form> 
      </div>
    </div>
    <script>
      function getNumber(code) {
    const n = parseInt(code[0]);
    const numberStr = code.slice(1, 1 + n);
    return parseInt(numberStr, 10);
  }
      const params = new URLSearchParams(window.location.search);
      const type = params.get("type");
      const hash = params.get("hash");
      document.getElementById("post_type").value = type;
      if(type == "edit"){
        document.getElementById("user_id").value = getNumber(hash);
      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/scripts/popups/notification.js"></script>
    <script src="../static/assets/scripts/popups/sidebar.js"></script>
    <script src="../static/assets/scripts/admin_add_edit_user.js"></script>
  </body>
</html>
