<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALIS - User Management</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/assets/styles/components/sidebar.css" />
    <link rel="stylesheet" href="../../static/assets/styles/components/navbar.css" />
    <link
      rel="stylesheet"
      href="../../static/assets/styles/components/notification.css"
    />
    <link rel="stylesheet" href="../../static/assets/styles/layouts/admin.css" />
  </head>
  <body>
    <div class="sidebar" id="sidebar">
      <h2>ALIS</h2>

      <div class="button-cont">
        <a id="dashboard_nav" href="{% url 'admins' %}" class="">
          <i class="fa-solid fa-table-columns me-1"></i> Dashboard
        </a>
      </div>
      <div class="button-cont">
        <a id="requests_nav" href="{% url 'admin_manage_users' %}" class="active">
          <i class="fa-solid fa-users me-1"></i> User Management
        </a>
      </div>
      <div class="button-cont">
        <a href="{% url 'admin_manage_users' %}">
          <i class="fa-solid fa-person-walking-arrow-right"></i> Leave Types
        </a>
      </div>

      <div class="button-cont">
        <a href="{% url 'logout' %}" class="">
          <i class="fa-solid fa-right-from-bracket me-1"></i>
          Log Out
        </a>
      </div>
    </div>

    <div class="main-content">
      <div class="main-header">
        <div class="d-flex align-items-center">
          <button class="mobile-toggle me-3" onclick="toggleSidebar()">
            <i class="fas fa-bars"></i>
          </button>
          <h1 class="nav-title pending-request-h1">Employee Management</h1>
        </div>
        <div class="button-main-cont">
          
          <div class="button-main-cont">
            <div class="main-img-cont">
              <div class="img-cont">
                <img
                  src="../media/{{user.picture}}"
                  alt=""
                  id="profilePreview"
                />
              </div>
            </div>
            <div class="name-cont">
              <p class="name">
                {{user.firstname}} {{user.middlename}} {{user.lastname}}
              </p>
              <p class="title text-muted">ADMIN</p>
            </div>
          </div>
        </div>
      </div>

      <div class="user-management-card">
        <div class="user-list-header">
          <div class="user-list-title">
            Employee list <span class="user-count">{{user_count}} 
            {% if user_count > 1 %}
              users
              {% else %}
              user
            {% endif %}
              </span>
          </div>

          <div class="search-filters">
            <div class="search-box">
              <input type="text" placeholder="Search..." id="searchInput" />
              <i class="fas fa-search"></i>
            </div>

            <a class="filter-btn" onclick="window.location.reload()">
              <i class="fas fa-filter"></i> Filters
            </a>

            <select name="" id="" class="filter-dropdown">
              <option value="" disabled selected>-- Department --</option>
            </select>

            <a
              class="add-user-btn"
              style="text-decoration: none"
              href="{% url 'admin_edit_user' %}?type=add"
            >
              <i class="fas fa-plus"></i> Add
            </a>
          </div>
        </div>
        <div class="delete-selected" id="deleteSelected">Delete selected</div>

        <div class="table-responsive">
          <table class="user-table">
            <thead>
              <tr>
                <th>
                  <input
                    type="checkbox"
                    class="table-checkbox"
                    id="selectAll"
                  />
                </th>
                <th>Name</th>
                <th>Department</th>
                <th>Title</th>
                <th>Status</th>
                <th class="hide-mobile">Joined Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
          
          {% for u in users %}
            <tr>
                <td>
                  <input type="checkbox" class="table-checkbox row-checkbox" />
                </td>
                <td>
                  <div class="user-info">
                    <p id="table_user_id" style="display: none;">{{u.id}}</p>
                    <div class="user-avatar" style="width: 50px; height:50px; border-radius:100px!important;">
                      <img src="/media/{{ u.picture }}" style="width: 100%; height:100%;" />
                    </div>
                    <span class="user-name">{{u.firstname}} {{u.middlename}} {{u.lastname}}</span>
                  </div>
                </td>
                <td style="display:none" id="id">{{u.id}}</td>
                <td id="department">{{u.department}}</td>
                <td id="job_title">{{u.job_title}}</td>
                <td>
                  <span class="status-badge status-inactive">{{u.employee_type}}</span>
                </td>
                <td class="hide-mobile">{{u.createdAt}}</td>
                <td class="action-cell">
                  <button
                    class="actions-btn"
                    onclick="toggleActionDropdown(this)"
                  >
                    <i class="fas fa-ellipsis-h"></i>
                  </button>
                  <div class="actions-dropdown">
                    <div class="dropdown-item edit" onclick="editUser(this)">
                      <i class="fas fa-edit"></i>
                      Edit
                    </div>
                    <div
                      class="dropdown-item delete"
                     
                    >
                    <form method="post" action="{% url 'delete_user' %}">
                      {% csrf_token %}
                      <input value="{{u.id}}" name="user_id" style="display: none;"/>
                      <button type="submit" style="width: 100%;height:100%;background:transparent;border:none;padding-right:55px;">
                      <i class="fas fa-trash"></i>
                      Delete
                      </button>
                    </form>
                    </div>
                  </div>
                </td>
              </tr> 
            
          {% endfor %}
            
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/assets/scripts/popups/notification.js"></script>
    <script src="../../static/assets/scripts/popups/sidebar.js"></script>
    <script src="../../static/assets/scripts/admin_user_management.js"></script>
  </body>
</html>
