<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALIS - User Management</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/assets/styles/components/sidebar.css" />
    <link rel="stylesheet" href="../../static/assets/styles/components/navbar.css" />
    <link
      rel="stylesheet"
      href="../../static/assets/styles/components/notification.css"
    />
    <link rel="stylesheet" href="../../static/assets/styles/layouts/admin.css" />
  </head>
  <body>
    <div class="sidebar" id="sidebar">
      <h2>ALIS</h2>
      <div class="main-img-cont">
        <div class="img-cont">
          <img
            src = "../media/{{user.picture}}"
            alt=""
            id="profilePreview"
          />
          <input type="file" accept="image/*" id="image_file" />
          <label for="image_file">
            <i class="fa-solid fa-camera"></i>
          </label>
        </div>
      </div>
      <div class="name-cont">
        <h3 class="name">{{user.firstname}} {{user.middlename}} {{user.lastname}}</h3>
      </div>

      <div class="bot-sec">
        <div class="jobs-desc-cont">
          <p>Employee ID: E0956-T25</p>
          <p>Department: {{user.department}}</p>
          <p>Job title: {{user.job_title}}</p>
          <p>Employment Type: {{user.employee_type}}</p>
        </div>
        <div class="details-cont">
          <p>Vacation Leave: {{leave.vacation_leave}} / 5 used</p>
          <p>Sick Leave: {{leave.sick_leave}} / 5 used</p>
          <p>Casual Leave: {{leave.casual_leave}} / 10 used</p>
        </div>
      </div>
      <div class="button-cont">
        <a href="{% url 'logout' %}">
          Log Out
          <i class="fa-solid fa-right-from-bracket"></i>
        </a>
      </div>
    </div>

    <div class="main-content">
      <div class="main-header">
        <div class="d-flex align-items-center">
          <button class="mobile-toggle me-3" onclick="toggleSidebar()">
            <i class="fas fa-bars"></i>
          </button>
          <h1 class="nav-title pending-request-h1">User Management</h1>
        </div>
        <div class="button-main-cont">
          <div class="button-cont">
            <a id="dashboard_nav" href="{% url 'admins' %}">
              <i class="fa-solid fa-table-columns"></i>
            </a>
            <p class="popup">Dashboard</p>
          </div>
          <div class="button-cont">
            <a id="requests_nav" href="#">
              <i class="fa-solid fa-users active"></i>
            </a>
            <p class="popup">Users</p>
          </div>
          <div class="button-cont">
            <!-- <button class="notif-btn" id="notification-btn">
              <i class="fa-solid fa-bell"></i>
            </button> -->
            <!-- <p class="popup">Notification</p> -->
            <div class="notif-marker active"></div>
            <div class="notifications-panel" id="notificationsPanel">
              <div class="notifications-header">
                <h5>Notifications</h5>
              </div>
              <div class="notifications-list">
              
              {% for i in notif %}
                 <div class="notification-item">
                  <div class="notification-avatar">
                    <i class="fas fa-user"></i>
                  </div>
                  <div class="notification-content">
                    <p class="notification-text">
                      <strong>{{i.user.firstname}} {{i.user.lastname}}</strong> has requested for {{i.leave.leave_type}}.
                    </p>
                    <span class="notification-time">{{i.createdAt}}</span>
                  </div>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="user-management-card">
        <div class="user-list-header">
          <div class="user-list-title">
            User list <span class="user-count">{{user_count}} 
            {% if user_count > 1 %}
              users
              {% else %}
              user
            {% endif %}
              </span>
          </div>

          <div class="search-filters">
            <div class="search-box">
              <input type="text" placeholder="Search..." id="searchInput" />
              <i class="fas fa-search"></i>
            </div>

            <a class="filter-btn" onclick="window.location.reload()">
              <i class="fas fa-filter"></i> Filters
            </a>

            <select name="" id="" class="filter-dropdown">
              <option value="" disabled selected>-- Department --</option>
            </select>

            <a
              class="add-user-btn"
              style="text-decoration: none"
              href="{% url 'admin_edit_user' %}?type=add"
            >
              <i class="fas fa-plus"></i> Add user
            </a>
          </div>
        </div>
        <div class="delete-selected" id="deleteSelected">Delete selected</div>

        <div class="table-responsive">
          <table class="user-table">
            <thead>
              <tr>
                <th>
                  <input
                    type="checkbox"
                    class="table-checkbox"
                    id="selectAll"
                  />
                </th>
                <th>Name</th>
                <th>Department</th>
                <th>Title</th>
                <th>Status</th>
                <th class="hide-mobile">Joined Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
          
          {% for u in users %}
            <tr>
                <td>
                  <input type="checkbox" class="table-checkbox row-checkbox" />
                </td>
                <td>
                  <div class="user-info">
                    <p id="table_user_id" style="display: none;">{{u.id}}</p>
                    <div class="user-avatar" style="width: 50px; height:50px; border-radius:100px!important;">
                      <img src="/media/{{ u.picture }}" style="width: 100%; height:100%;" />
                    </div>
                    <span class="user-name">{{u.firstname}} {{u.middlename}} {{u.lastname}}</span>
                  </div>
                </td>
                <td style="display:none" id="id">{{u.id}}</td>
                <td id="department">{{u.department}}</td>
                <td id="job_title">{{u.job_title}}</td>
                <td>
                  <span class="status-badge status-inactive">{{u.employee_type}}</span>
                </td>
                <td class="hide-mobile">{{u.createdAt}}</td>
                <td class="action-cell">
                  <button
                    class="actions-btn"
                    onclick="toggleActionDropdown(this)"
                  >
                    <i class="fas fa-ellipsis-h"></i>
                  </button>
                  <div class="actions-dropdown">
                    <div class="dropdown-item edit" onclick="editUser(this)">
                      <i class="fas fa-edit"></i>
                      Edit
                    </div>
                    <div
                      class="dropdown-item delete"
                     
                    >
                    <form method="post" action="{% url 'delete_user' %}">
                      {% csrf_token %}
                      <input value="{{u.id}}" name="user_id" style="display: none;"/>
                      <button type="submit" style="width: 100%;height:100%;background:transparent;border:none;padding-right:55px;">
                      <i class="fas fa-trash"></i>
                      Delete
                      </button>
                    </form>
                    </div>
                  </div>
                </td>
              </tr> 
            
          {% endfor %}
            
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/assets/scripts/popups/notification.js"></script>
    <script src="../../static/assets/scripts/popups/sidebar.js"></script>
    <script src="../../static/assets/scripts/admin_user_management.js"></script>
  </body>
</html>
