@import url('variables.css');

body {
  background: var(--primary-gray);
  height: 100vh;
}

::-webkit-scrollbar {
  width: 7px;
}

header {
  position: relative;
  margin-bottom: var(--margin-bottom-2);
  box-shadow: 0 0 0.15rem black;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

header img {
  width: 100%;
  position: absolute;
  height: 100%;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
}

header .texts-cont {
  z-index: 1;
  color: white;
  margin: 0;
  padding: var(--padding-2);
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(2px);
  padding-top: 40px; 
}

header h1 {
  font-size: 3rem;
}


main {
  background: transparent;
  width: 50vw;
  align-self: center;
  height: 100vh;
  overflow-y: auto;
  /* position: relative; */
}

.contents button {
  padding: 20px;
  margin: var(--margin-2);
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: var(--primary-gray);
  background: var(--primary-background);
  z-index: 100;
  transition: all 0.25s ease-in-out;
  font-size: 1.5rem;
}

.page h2 {
  position: sticky;
  top: 0;
  background: white;
  padding: 10px 0;
  padding-bottom: 20px;
}

.page {
  background: white;
  padding: var(--padding-2);
  border-bottom: 1px solid rgb(200,200,200);
  filter: blur(3px);
  pointer-events: none;
}

.download-cont {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

.page .page-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page-content p {
  text-indent: 50px;
}

.page-number {
  color: black;
  text-align: center;
  
}

.page-name-number {
  color: rgb(150,150,150);
  font-family: 'Times New Roman', Times, serif;
}